.return-homepage {
    display: none;
}

.return-home-button {
    position: absolute; 
    top: 1.6rem; 
    right: 1.5rem;
    width: 2.4rem;
    height: 2.2rem; 
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    z-index: 1000; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.return-home-button:hover {
    background-color: rgb(241, 241, 241); 
    transform: scale(1.1); 
}

.return-home-button:focus {
    outline: none; 
}

.return-home-button img {
    width: 1.4rem; 
    height: auto; 
    transition: transform 0.2s ease; 
}

.return-home-button:hover img {
    transform: scale(1.1); 
}

.favorites-list {
    text-align: center;
    background-color: white; 
    margin-top: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(110, 132, 44);
}

.favorites-background {
    padding-top: 3.7rem;
    padding-bottom: 6rem;
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 35%; 
    left: 1.5%;
    color: rgb(110, 132, 44);
    text-align: center;
    background: transparent; 
    padding: 1rem 2rem; 
    border-radius: 10px;
    font-size: .9rem;
}

.filter-bar {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    gap: 1rem;
    padding: 1.3rem 6rem;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(140, 169, 52);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.filter-button.active {
    background-color: rgb(214, 239, 199); 
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.filter-button:hover {
    background-color: rgb(241, 241, 241);
}

.empty-favorites {
    text-align: center;
    color: rgb(85, 85, 85);
}

.empty-favorites .empty-heart-icon {
    width: 6rem;
    height: auto;
    opacity: 0.3; 
    margin-bottom: 1rem;
}

.empty-favorites h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: .5rem;
}

.empty-favorites p {
    font-size: 1rem;
    font-style: italic;
    color: rgb(102, 102, 102);
    margin: 0;
}

.favorites-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 7.5rem; 
    gap: 0.5rem; 
    justify-content: center; 
    padding: 1rem; 
    max-width: 1200px; 
    margin: 0 auto;
}

.image-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.description-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6); 
    color: rgb(0, 0, 0);
    padding: .7rem 1rem;
    box-sizing: border-box;
    text-align: center;
    text-overflow: ellipsis; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.description-container p {
    margin: 0;
    flex: 1; 
    text-align: left;
    font-size: .9rem;
    line-height: 1.2rem; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-height: 1.2rem; 
}

.description-container input {
    width: 100%;
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    text-align: left;
    font-size: 0.8rem;
    padding: 5px 0;
}

.delete-button {
    position: absolute;
    top: 0.5rem; 
    left: 1.5rem; 
    background: rgba(255, 255, 255, 0.9); 
    border: none;
    border-radius: 50%; 
    padding: .5rem;
    cursor: pointer;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.delete-button img {
    width: 1rem; 
    height: 1.2rem;
    object-fit: contain;
    left: .5rem;
    padding: 0;
    margin: 0;
}

.edit-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button img {
    width: 1rem; 
    height: 1.2rem;
    object-fit: contain;
    left: .5rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(249, 249, 249); 
    border-radius: 15px; 
    padding: 1rem .5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
    width: 90%;
    max-width: 500px;
    min-height: 375px; 
    height: auto; 
    text-align: center;
    border: none; 
    color: rgb(110, 132, 44); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden; 
}

.modal-image {
    width: 100%;
    max-width: 90%; 
    max-height: 350px;
    border-radius: 10px; 
    object-fit: cover; 
}

.modal-content input {
    width: 90%; 
    padding: .8rem;
    border: none;
    border-radius: 50px; 
    font-size: 1rem;
    outline: none;
    color: rgb(92, 130, 56);
    background-color: rgba(241, 241, 241, 1); 
    text-align: center; 
}

.modal-content input::placeholder {
    color: rgba(110, 132, 44, 0.6); 
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%; 
    padding: 0 1rem;
}

.modal-actions button {
    flex: 1;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-actions button:first-child {
    background-color: rgb(140, 169, 52); 
    color: white;
}

.modal-actions button:first-child:hover {
    background-color: rgb(110, 132, 44); 
}

.modal-actions button:last-child {
    background-color: rgb(241, 241, 241); 
    color: rgb(92, 130, 56); 
    border: 1px solid rgba(140, 169, 52, 0.8); 
}

.modal-actions button:last-child:hover {
    background-color: rgba(214, 239, 199, 1); 
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadein 0.3s, fadeout 0.3s 2.7s;
}


.filter-button {
    background: none;
    margin-top: 1rem;
    border: 1.5px solid rgb(140, 169, 52); 
    cursor: pointer;
    font-size: .75rem;
    padding: .25rem 1rem;
    border-radius: 0;
    transition: background-color 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
    color: rgb(92, 130, 56); 
    font-weight: normal;
}

.filter-button.active {
    background-color: rgb(230, 230, 230); 
    font-weight: bold;
    color: rgb(57, 106, 71);
}

.filter-button:hover {
    background-color: rgb(240, 240, 240); 
    color: rgb(57, 106, 71);
}

.filter-button:first-child {
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px;
}

.filter-button:last-child {
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.sort-order-controls {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.sort-button {
    border: 1.5px solid rgb(140, 169, 52);
    background-color: white;
    color: rgb(92, 130, 56);
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
    border-radius: 50px; 
    cursor: pointer;
    font-weight: normal;
    transition: background-color 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.sort-button.active {
    background-color: rgb(230, 230, 230); 
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.sort-button:hover {
    background-color: rgb(240, 240, 240); 
    color: rgb(51, 51, 51);
}
.clear-all-button {
    background-color: rgb(140, 169, 52); 
    color: white;
    font-size: .7rem;
    font-weight: bold;
    border: none;
    padding: .7rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem; 
    align-self: center; 
}

.clear-all-button:hover {
    background-color: rgb(200, 50, 50);
}


@media only screen and (min-width: 1000px) {
    .return-homepage {
        display: flex;
        font-weight: 500;
        font-size: larger;
        color: rgb(92, 130, 56);
    }

    .return-home-button {
        border-radius: 8px;
        width: 7.5rem;
        height: 2.3rem;
        right: 2.5rem;
    }

    .return-home-button img {
        width: 1.2rem;
        height: 1.3rem;
        margin-left: .5rem;
    }

    .favorites-list {
        margin-right: 3rem;
        margin-left: 3rem;
        padding: 1rem 2rem;
        justify-content: flex-start; 
    }

    .favorites-background {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .text-overlay {
        top: 40%;
        left: 31%; 
        transform: translate(-18%); 
        font-size: 1.2rem;
    }

    .filter-bar {
        margin-top: .2rem;
        padding: 1rem 20rem;
    }

    .favorites-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr; 
        gap: .5rem; 
        margin: 0 auto; 
    }

    .description-container {
        padding: 15px;
        font-size: 1rem; 
        justify-content: space-between;
    }

    .description-container p {
        font-size: 1rem; 
    }

    .edit-button {
        bottom: 10px; 
        right: 10px; 
        padding: .6rem; 
    }

    .edit-button img {
        width: 1.2rem;
        height: 1.2rem;
        overflow:inherit;
    }

    .filter-button{
        font-size: 1rem;
        padding: .5rem 1.5rem;
        border-radius: 0;
    }
}

