html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(200, 220, 191);
  display: grid;
  grid-template-rows: auto 1fr auto; 
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto; /* Maneja el desbordamiento */
}

.favorites-list {
  flex: 1;
  min-height: 500px;
  display: flex;
  overflow: auto; /* Maneja el desbordamiento */
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 1.2rem;
  width: 72%;
  height: auto;
}

@media only screen and (min-width: 1000px) {
  .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 30%;
    height: auto;
  }
}