body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(200, 220, 191);
}

.logo{
  position: absolute; 
  top: 1.5rem; 
  left: 1.2rem; 
  width: 72%; 
  height: auto;
}

@media only screen and (min-width: 1000px){
  .logo{
    position: absolute; 
      top: 1rem; 
      left: 2rem; 
      width: 30%; 
      height: auto;
    }
}