body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: rgb(214, 239, 199); 
}

.homepage {
    padding: 1.25rem; 
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem auto;
    margin-top: 4rem;
    padding: .2rem 1.5rem; 
    background-color: rgb(255, 255, 255);
    border-radius: 1.9rem; 
    width: 80%;
    max-width: 25rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.3rem; 
    border-radius: 1.9rem; 
    font-size: .8rem; 
    color: #555;

}

.search-bar input::placeholder {
    color: rgb(170, 170, 170);
    font-style: italic;
}

.search-bar button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img {
    width: 1.25rem; 
    height: 1.25rem; 
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
    gap: 0.95rem;
    margin-top: 1.25rem; 
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem; 
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); 
}

.heart-phone{
    width: 50%;

}

.favorites-button {
    position: fixed; 
    top: 1rem; 
    right: 1rem;
    width: 2rem;
    height: 2rem; 
    background-color: white;
    border: none;
    border-radius: 30%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    z-index: 1000; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.favorites-button:hover {
    background-color: rgb(241, 241, 241); 
    transform: scale(1.1);
}

.favorites-button:focus {
    outline: none; 
}

.favorites-button img {
    width: 1.5rem;
    height: 1.5rem;
}


@media only screen and (min-width: 1000px) {
    .homepage {
        padding: 2rem; 
    }

    .search-bar {
        width: 80%; 
        margin-top: 4rem; 
        padding: 0.5rem 1rem; 
    }

    .search-bar input {
        font-size: 1.2rem; 
        padding: 0.8rem; 
    }

    .search-bar button img {
        width: 1.5rem; 
        height: 1.5rem;
    }

    .image-gallery {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); 
        gap: 1.5rem; 
    }

    .image-gallery img {
        border-radius: 0.75rem; 
    }
}
